html {
    box-sizing: border-box;
    font-family: arial;
}

html, body, pine {
	height: 100%;
}

*, *:before, *:after {
  	box-sizing: inherit;
  	margin: 0px;
	padding: 0px;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	font-family: 'Oswald', sans-serif;
}

img {
	outline : none;
}

a, a:hover, a:visited {
    color: #DAB875;
}

.light_mode a, .light_mode a:hover, .light_mode a:visited {
    color: #CF8900;
}




body {
    background-color: #222;
    /*background: linear-gradient(#14201E, #222);*/
    color: #999;
    
}

body.page_loaded {
	transition-property: background-color, color;
    transition-duration: 0.5s;
    /*transition-duration: 0s;*/
    transition-timing-function: ease;	
}


body.light_mode {
	background: #FFF;
	color: #333;
}

body.earth_mode {
	background: linear-gradient(#b6faff, #ffd784);
	color: #333;
}



#title {
    font-size: 50px;
    text-shadow: 1px 1px rgba(0,0,0,0.2), -1px -1px rgba(234, 207, 57, 0.2);
}

#title a {
    color: inherit;
    text-decoration: none;
}





bgimg {
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	pointer-events: none;
	z-index: -1;
	opacity: 0.3;
	background: url('../images/matte.png');
}


.light_mode bgimg {
	display: none;
}


