html {
    box-sizing: border-box;
    font-family: arial;
}

html, body, pine {
	height: 100%;
}

*, *:before, *:after {
  	box-sizing: inherit;
  	margin: 0px;
	padding: 0px;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	font-family: 'Oswald', sans-serif;
}

img {
	outline : none;
}

a, a:hover, a:visited {
    color: #DAB875;
}

.light_mode a, .light_mode a:hover, .light_mode a:visited {
    color: #CF8900;
}




body {
    background-color: #222;
    /*background: linear-gradient(#14201E, #222);*/
    color: #999;
}


body.light_mode {
	/*background-color: #E1FFF6;*/
	background: #FFF;
	color: #333;
}



bgimg {
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	pointer-events: none;
	z-index: -1;
	opacity: 0.3;
	background: url('../images/matte.png');
}


.light_mode bgimg {
	display: none;
}


